html, body {
    width: 100%;
    min-width: 590px;    
}

* {
    margin: 0;
    padding: 0;
 }

body{
    background-color: #000000; 
    direction: ltr;
}

.header {   
    
    text-align: center;
    height: auto;
    padding: auto;
}

.top-line{
    height: auto;
}
  
ul.complex_list {
    display: flex;
    height: 44px;
}
  
.complex_list li {
    font-family: 'PT Sans';
    font-size: 12px;
    line-height: 16px;
    list-style: none;
}
  
/* убираем подчеркивание и устанавливаем цвет*/
.complex_list li a {
    text-decoration: none;
    margin: 10px;
    color: #969696;
}
  
.complex_list li a:hover {
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.complex_list li {
    position: relative;
    margin: 0;
    padding: 0;  
    list-style-type: none;  
}

.complex_list li:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;    
}

.list-style-phone{
  margin-left: 15%;
    
}

.list-style-status{
  margin-right: 15%;
}

.img{
    vertical-align: text-bottom;
    height: 16px;
    width: 16px;    
}


.navbar{
  --bs-navbar-brand-margin-end: 35%;
  width: 100%;
}

.img-second-line {
  padding-right: 7px;
  padding-left: 15px;
  padding-bottom: 7px;
  padding-top: 7px;

}

.navbar-brand{
  font-family: 'Post No Bills Jaffna';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;

  color: #FFFFFF;
}

.navbar-nav{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.nav-link {	   
  text-align: left;
  text-decoration: none;
  color: #969696;
	background-color: #0F0F0F;
    
  cursor: pointer;   
  vertical-align: text-bottom;
}

.nav-link:hover {
	color: #fff;
	background-color: #1F1F1F;	
}

.complex_list {
  background-color: #000000;
  padding: 0;
}

.img-fluid {
  height: auto;
  display: inline-block; 
} 

.first-screen {
  position: relative;  
  width: 100%;  
  max-height: 810px;
  overflow: hidden;
  object-fit: contain;
}

.square {
  position: absolute;
  left: 50%;
  right: 10%;  
  margin-top: -35%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: 320px; 
  min-width: 200px; 
  width:100vw;
  max-height: 320px; 
  min-height: 200px; 
  height:100vw;
  box-shadow: inset 0 0 0 4px #FFFFFF;
}

.first-screen-hr{
  width: 75%; 
  margin: 0 15% 0 12%;
  border: 1px solid #FFFFFF;
  background-color:#FFFFFF;
  opacity: 1;
}

.first-screen-text{
  font-family: 'Post No Bills Jaffna';
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  margin-top: 32%;
  margin-bottom: -15px;
  color: #FFFFFF;
  margin: 30% 30px -15px 30px;
}

.first-screen-text2{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 25%;

  color: #FFFFFF;
}

.rectangle{
  position: absolute;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  margin-top: 380px;
  margin-bottom: 20px;
}

.first-screen-text3{
  max-width: 800px;
  min-height: 96px;
  left: 595px;
  top: 675px;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  font-size: 1vw;
}

h1{
  margin-top: 93px;
  margin-bottom: 20px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  text-align: center;
}

hr{
  width: 120px;   
  margin: 0 auto;
  display: block; 
  border: 1px solid #FFFFFF;
  background-color:#FFFFFF;
  opacity: 1;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  columns: 3;
  column-gap: 15px;
  -moz-column-gap: 15px;
  -webkit-column-gap: 15px;
  
}

.card{
  background-color: #000000;
  max-width: 250px;
  padding-left: 50px;
}

.card-text{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;

  color: #FFFFFF;
}

.card-text-prise{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: #D0D0D0; 
}

.second-screen{
  background-image: url('../images/newCollection.png');
  max-height: 730px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

.newcoll{
  position: relative;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 68%;
  
  color: #FFFFFF;
  text-shadow: 0 0 5px #000;    
  opacity: 1;
}

.btn{
  margin: 0 auto;
  margin-top: 30px;
  display: block; 
  padding: 15px 30px 15px 30px ;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.third-screen{ 
  background-image: url('../images/collection.png'); 
  max-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.newcoll-all{
  padding-top: 120%;
}

.img-fluid-1{
  max-height: 600;
  width: auto;
}



.newcoll-2{
  position: relative;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15%;
  
  color: #fff;
  text-shadow: 0 0 5px #000;    

  color: #FFFFFF;
  opacity: 1;
  margin-bottom: 20px;
}

#btn{
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 20px;
  display: block; 
  padding: 15px 30px 15px 30px ;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.article2-p{
  margin: auto;
  margin-top: 30px;
  
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #FFFFFF;
}

#row-2{
  margin-left: 15%;
  margin-right: 15%;
} 

#row-3{
  background: #0F0F0F;
}

.brends{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

.brends-p{
  margin-top: 40px;
  margin-bottom: 25px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

footer{
  min-height: 400px;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url(../images/futterImage.png), #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 11%;
}



.foot{
  -webkit-flex: 1;
  flex: 1;
}

h4{
  padding-top: 80px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  text-transform: uppercase;

  color: #FFFFFF;
}

.h4-categor{
  margin-bottom: 25px;
}

.footer-p{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #FFFFFF;

  margin-top: 40px;
}

#footer-text{
  min-width: 350px;
  max-width: 350px; 
  min-height: 147px;
}

.btn-footer{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;  
  border-width: 0px;

  margin-right: 20px;
  margin-top: 20px;
  
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  background-color:#0F0F0F;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#footer-row{
  margin-left: -15px;
  margin-right: -15px;
  
  -webkit-columns: 3;
  columns: 3;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-radius: 0;
  width: 140px;
  height: 42px;
}


.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
 padding-top: -30px;
  border-radius: 0;
  width: 140px;
  height: 42px;
}

.form-control{
  background: rgba(255, 255, 255, 0.2);  
  color:#FFFFFF;
  border-width: 0px;
}

.btn-foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  margin-bottom: 40px;

  background: #0F0F0F;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  letter-spacing: 0.05em;
  border-width: 0px;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}








  /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

        .container.navbar-wrapper {
          margin-bottom: 0;
          width: auto;
        }
  
        .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
          padding-top: 15px;
      }
  
        .navbar-inner {
          border-radius: 0;
          margin: -20px 0;
        }
  
        .carousel .item {
          height: 500px;
        }
        .carousel img {
          width: auto;
          height: 500px;
        }
  
        footer {
            margin-left: -20px;
          margin-right: -20px;
        }
  
        footer .container{
            margin-left: 10px;
          margin-right: 10px;
        }
      
      }
  
  
      @media (max-width: 767px) {
  
          .navbar .brand{
              font-family: 'Merienda', cursive;
              font-size: 24px; 
          }
  
          .carousel {
              margin-left: -20px;
              margin-right: -20px;
          }
  
        .carousel .item {
          height: 300px;
        }
        .carousel img {
          height: 300px;
        }
        .carousel-caption {
          width: 65%;
          padding: 0 100px;
          top: 50px;
        }
        .carousel-caption h1 {
          font-size: 30px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
          font-size: 16px;
        }
  
        #screenshots .span2{
            padding-bottom: 10px;
        }
  
      }
  
      @media (max-width: 480px) {
  
      .carousel .item {
          height: 300px;
        }
        .carousel img {
          height: 300px;
        }
        .carousel-caption {
          width: 55%;
          padding: 0 100px;
          position: absolute;
          top: 50px;
        }
        .carousel-caption h1 {
          font-size: 20px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
          font-size: 14px;
        }
  
  
        .inline li{
            padding-bottom: 10px;
        }
  
        .form-inline button{
            margin-top: 10px;
        }
      }